.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}


.footer {
    width: 70%;
    height: 70px;
    border-top: 1px solid #272727;
    display: flex;
    justify-content: center;
    align-items: center;

    &text {
        padding: 20px 0;
        font-weight: 700;
    }
}